/**
 * Общие стили для конструктора шаг за шагом
 * @author Alex Kovalev <alex.kovalevv@gmail.com> 
 * @copyright Alex Kovalev 01.05.2017
 *
 * @!jsObfuscate:false
 * @!preprocess:false
 * @!cssmin:true
 * @!lang:[]
 * @!build:['step-to-step']
 */
.onp-sl .onp-sl-screen .onp-sts-progress-line {
  color: #fff;
  margin-top: 1px;
  text-align: left;
  text-shadow: none;
}
.onp-sl .onp-sl-screen .onp-sts-progress-line .onp-sts-step-mark {
  display: block;
  background: rgba(34, 34, 34, 0.55);
  padding-right: 10px;
  font-size: 14px;
}
.onp-sl .onp-sl-screen .onp-sts-progress-line .onp-sts-step-mark.onp-sts-finish {
  background: rgba(124, 124, 124, 0.3);
}
.onp-sl .onp-sl-screen .onp-sts-progress-line .onp-sts-step-mark.onp-sts-finish span {
  background: #7c7c7c;
}
.onp-sl .onp-sl-screen .onp-sts-progress-line .onp-sts-step-mark + .onp-sts-step-mark {
  margin-left: 5px;
}
.onp-sl .onp-sl-screen .onp-sts-progress-line span {
  display: inline-block;
  background: #ffeb31;
  padding: 10px 10px;
  color: #404040;
  font-weight: bold;
  margin-right: 8px;
}
.onp-sl .onp-sl-screen .onp-sts-progress-line + .onp-sl-group {
  padding-top: 20px;
  padding-bottom: 30px;
}
